@import '../../../common/variables.scss';

.menu-container__currency {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    
    &__title {
        font-size: 1rem;
        font-weight: 600;
        padding-bottom: 1rem;
        color: $black;
    }

    &__btn {
        display: flex;

        &__input {
            font-size: 1rem;
            padding: 0.75rem 1.5rem;
            color: $dark_blue;
            background-color: $white;

            &:hover {
                cursor: pointer;
                background-color: $light_blue;
                color: $dark_blue
            }

            &:active,
            &:focus {
                outline: none;
                color: $white;
                background-color: $dark_blue;
            }

            &.left {
                border-left: 1px solid $dark_grey;
                border-top: 1px solid $dark_grey;
                border-bottom: 1px solid $dark_grey;
                border-radius: 0.5rem 0 0 0.5rem;
                box-shadow: -1px 0px 0px 0px $dark_grey inset;

                &:hover {
                    border-color: $dark_blue $dark_blue $dark_blue $dark_blue;
                    box-shadow: -1px 0px 0px 0px $dark_blue inset;
                }
            }
            
            &.middle {
                border-top: 1px solid $dark_grey;
                border-bottom: 1px solid $dark_grey;

                &:hover {
                    border-color: $dark_blue $dark_blue $dark_blue $dark_blue;
                    box-shadow: 1px 0px 0px 0px $dark_blue, -1px 0px 0px 0px $dark_blue;
                }
            }

            &.right {
                border-right: 1px solid $dark_grey;
                border-top: 1px solid $dark_grey;
                border-bottom: 1px solid $dark_grey;
                border-radius: 0 0.5rem 0.5rem 0;
                box-shadow: 1px 0px 0px 0px $dark_grey inset;

                &:hover {
                    border-color: $dark_blue $dark_blue $dark_blue $dark_blue;
                    box-shadow: 1px 0px 0px 0px $dark_blue inset;
                }
            }
        }
    }
}